/* APP.JS */
nav {
  background-color: #ffca41;
  text-align: center;
}
nav img:hover {
  transition: all 0.7s;
  transform: rotate(360deg);
}
ul {
  list-style: none;
}
.Appimg {
  width: 100%;
}
/* button {
  background-color: #ffca41;
  border-radius: 15px;
} */

.App img {
  width: 100%;
}
.App li {
  background-color: #ffca41;
  list-style: none;
  padding: 2%;
}
.App a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}
.App p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0%;
}

/* beerList.jsx */
.flex {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10% 10%;
}
.bottleimg {
  height: 30vh;
  padding-right: 10%;
}
.bottlename {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: -13%;
}
.bottlecol {
  color: #ffca41;
  font-size: 1.5rem;
  font-weight: bold;
}
.creat {
  font-size: 1.2rem;
}
.but {
  background-color: #ffca41;
  color: white;
  text-decoration: none;
  padding: 2% 13%;
  border-radius: 15px;
  font-size: 1.4rem;
}
/* details.JSX */
.debottleimg {
  height: 50vh;
  text-align: center;
  margin-top: 5%;
}
.biername {
  font-size: 2rem;
}
.grey {
  color: #3333;
}
.margin {
  margin: 10%;
}
.grey span {
  margin-left: 145px;
}
.debottlecol {
  color: #ffca41;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -10%;
}
